<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by {{name}}. It uses data from openweather.com and mapbox.com!</p>
            <img class="portrait" src="./img/profile.jpg">
        </div>
        {{>footer}}
    </body>
</html>